<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.TestMapper">

    <select id="selectTest" resultType="com.test.vo.TestVo" >
        SELECT
            ID,
            NAME,
            PHONE_NUM,
            EMAIL
        FROM	TEST
    </select>

</mapper>